.profile {
    @extend %eachSection;
    input:focus {
        outline: none;
    }
    p {
        color: #777 !important  ;
    }
    .title {
        h3 {
            font-weight: bold;
            font-size: 35px;
        }
        p {
            font-size: 18px;
        }
    }
    
}

.profile {
    .cards-1 {
        .card-1 {
            .details {
                display: flex;
                justify-content:center;
                align-items: center;
                flex-direction: column;
                row-gap: 10px;
                transform: translateY(30%);
                position: relative;
                
                &::after {
                    content: "";
                    position: absolute;
                    width: 2px;
                    height: 470px;
                    background-color: #ccc;
                    top: -20px;
                    right: 0px;
                    @media (max-width: 1199px) {
                        display: none;
                    }
                }
                img {
                    width: 150px;
                }
                h3 {
                    margin: 0px;
                }
                p:first-of-type {
                    font-size: 22px;
                }
                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 5px;
                    margin: 0px;
                    margin-top: 10px;
                    li {
                        color: #f59e0b;
                    }
                }
                span {
                    width: 60%;
                    height: 8px;
                    border-radius: 6px;
                    background-color: #eeeeee;
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 60%;
                        height: 8px;
                        border-radius: 6px;
                        background-color: $btn-color;
                        left: 0;
                    }
                }
                i {
                    font-size: 20px;
                }
            }
            .boxes {
                @media (max-width: 1200px) {
                    .box {
                        margin: 80px auto !important;
                    }
                }
                padding-bottom: 40px;
                position: relative;
                
                .box{
                    .lg-box {
                        .texts {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            column-gap: 50px;
                            @media (max-width: 1120px) {
                                .texts {
                                    display: block;
                                }
                            }
                        }
                    }
                    width: 80%;
                    &:not(:first-child) {
                        margin-top: 80px;
                    }
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &:not(:last-child):after {
                        content: "";
                        position: absolute;
                        width: calc(100% + 50px);
                        height: .2px;
                        background-color: #ccc;
                        left: -24px;
                        transform: translateY(100px);
                    }
                    p {font-size: 20px;}
                    span {
                        color: black !important
                    }
                    .designed-btn-2 {
                        @extend %rightFalseBtn-2;
                        i:first-of-type {
                            @extend %rightFalseBtnIcon-1-2;
                        }
                        i:last-of-type {
                            @extend %rightFalseBtnIcon-2-2;
                        }
                        span {
                            @extend %rightFalseBtnSpan-2;
                        }
                    }
                }
            }
        }
    }
}

.profile {
    .cards-2 {
        .card-2 {
            .boxes {
                @media (max-width: 1199px) {
                    align-items: center;
                }
                margin-top: 35px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                row-gap: 50px;
                position: relative;
                padding-bottom: 30px;
                .box {
                    &:not(:last-child):after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: .2px;
                        background-color: #eee;
                        left: 0px;
                        transform: translateY(50px);
                    }
                    span {
                        background-color: #eee;
                        border-radius: 8px;
                        padding: 6px 12px;
                        font-size: 18px;
                        &:not(:first-child) {
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
        .card-3 {
            .boxes {
                .box {
                    @media (max-width: 1199px) {
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                    }
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    margin-top: 15px;
                    position: relative;
                    &:not(:first-child) {
                        margin-top: 46px;
                    }
                    &:not(:last-child):after {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: .2px;
                        background-color: #eee;
                        bottom: -20px;
                    }
                    .lg-box {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        column-gap: 15px;
                        @media (max-width: 1199px) {
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                        }
                        .details {
                            p {
                                margin: 0px;
                                font-size: 22px;
                                &:first-child {
                                    color: black !important;
                                }
                                &:last-child {
                                    margin-top: 15px;
                                }
                            }
                        }
                        img {
                            width: 90px;
                            margin-bottom: 10px;
                        }
                    }
                    .md-box {
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        flex-direction: column;
                        @media (max-width: 1199px) {
                            align-items: center;
                        }
                        p {
                            font-size: 22px;   
                        }
                        span {
                            font-size: 22px;   
                            margin-bottom: 10px;
                            color: black !important;
                        }
                    }
                }
            }
        }
    }
}